name: Build & Push

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  BuildConfiguration: debug
  NugetSource: Valhalla-PS

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2

      - name: Push powershell module
        env: 
          DOTNET_CLI_UI_LANGUAGE: en_US
        run: Publish-Module -Path .\ValhallaToolkits -Repository "$($env:NugetSource)" -NuGetApiKey ${{ secrets.NUGETAPIKEY }}
